// ==================================================
// 助手类
// ==================================================

// 隐藏/显示元素
.hidden
  display none !important
.show
  display block !important

// 不可见
.invisible
  visibility hidden

// 清除浮动
.clearfix
  clearfix()

// 文本隐藏
.hide-text
  hide-text()

// 文本高亮
.hl
  color orange

// 链接高亮
.hl-link
  highlight-link()

// 宽度
for i in 3..20
  .w{i}0
    width unit(i, "0px") !important

// 外间距
for i in 5 10 20 30
  .mt{i}
    margin-top unit(i, px) !important
  .mr{i}
    margin-right unit(i, px) !important
  .mb{i}
    margin-bottom unit(i, px) !important
  .ml{i}
    margin-left unit(i, px) !important




