// ==================================================
// 基础配置
// ==================================================

// 灰度色
// ------------------------------
black = #000
gray-darker = #020202
gray-dark = #333
gray = #666
gray-light = #999
gray-lighter = #ccc
white = #FFF

// 彩色
// ------------------------------
orange = #F69052

// 链接色
// ------------------------------
// 正常状态
link-color = gray-dark
// 滑过状态
link-color-hover = #4F4644

// 链接高亮
link-highlight-color = #4F4644

// 排版
// ------------------------------

// 字体集
arial = Arial, Tahoma, "Helvetica Neue", Helvetica, sans-serif
tahoma = Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
times = "Times New Roman", Times, serif
yahei = "Hiragino Sans GB", "Microsoft Yahei", "SimSun"
heiti = "SimHei"
songti = "SimSun"

// 字体设置
browser-default-font-size = 10px
font-stack = tahoma
font-color = gray-dark
default-line-height = 1.5

// 栅格系统
// ------------------------------
// 列数
grid-columns = 20

// 列宽
grid-column-width = 30px

// 列距
grid-gutter-width = 20px

// 行宽
grid-row-width = grid-columns * grid-column-width + grid-gutter-width * (grid-columns - 1)

// 是否支持IE6/7？
support-for-ie = true

// 等比例缩放
responsive = false

