---
page_title: "首页"
mobile_page: true
---

extends _layout

block content
  p
    != environment
  p
    != current.base
  p
    != current.source
  p
    != current.path

block scripts
  script(src="#{current.base}scripts/examples/app.js")